<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<system.diagnostics>
		<sources>
			<source name="dev" switchName="verboseSwitch">
				<listeners>
					<add name="ColorCodedTraceListener" />
				</listeners>
			</source> 
		</sources>
		<switches>
			<add name="verboseSwitch" value="Verbose" />
		</switches>
		<sharedListeners>
			<add name="ColorCodedTraceListener" type="Shared.Diagnostics.ColorCodedTraceListener, Shared" />
		</sharedListeners>
	</system.diagnostics>
	
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
</configuration>